body {
    font-family: Arial, sans-serif;
    background-image: url(/Imagens/fundoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;  /* Define altura total da tela */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%; /* Ajuste conforme necessário */
    margin: 0;  /* Remove margem automática */
    min-height: 70%;
}

h2 {
    font-size: 16px;
    font-family:'Segoe UI';
    font-weight: 500;
    padding-bottom: 10px;
    color: #000000;
}

.wrapper {
    display: flex;
    justify-content: flex-start;  /* Move o conteúdo para o canto esquerdo */
    align-items: center;
    height: 100vh;
    padding-left: 5%; /*Ajusta a distância do lado esquerdo*/
}

.imagemCanto {
    position: absolute;
    bottom: 20px;  /* Mantém a imagem na parte inferior */
    right: 20px;  /* Mantém a imagem à direita do bloco */
    width: 300px;
}


.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
}

.form-group input {
    width: 150%;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-bottom: 1px solid #03f6d0;
    font-size: 15px;
}

.form-group input::placeholder {
    opacity: 1; 
}

/* Remove o fundo azul ao focar */
input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #03f6d0;
    background-color: rgba(255, 255, 255, 0); /* Cor de fundo neutra */
}


select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.primary-button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #03f6d0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #02d7ba;
}

/* Ajusta a largura dos elementos de forma responsiva */
@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        justify-content: center;  /* Move o conteúdo para o canto esquerdo */
        align-items: center;
        height: 100vh;   
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        padding: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 80%; /* Ajuste conforme necessário */
        margin: 0;  /* Remove margem automática */
        min-height: 50%;
    }
}